.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-btn-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.primary-btn {
  width: 200px;
}

.filter-container {
  position: absolute;
  top: 40px;
  z-index: 100;
  background-color: white;
  padding: 10px;
  /* width: 200px; */
  border: 1px solid lightgray;
  border-radius: 6px;
}

.filter-container-1 {
  height: 0px;
  background-color: white;
  padding: 10px;
  /* width: 200px; */
  border: 1px solid lightgray;
  border-radius: 6px;
}

.filter-container-0 {
  background-color: white;
  padding: 10px;
  /* width: 200px; */
  border: 1px solid lightgray;
  border-radius: 6px;
  animation: opencontainer;
  animation-duration: 1s;
}

.whole_container {
  width: 100%;
  height: 100vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.output-screen {
  margin: 25px;
  font-size: 50px;
  height: 80px;
  background-color: #171717;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.btn-container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn-large {
  width: 260px !important;
}
p {
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  margin: 10px;
}

p:active {
  opacity: 0.6;
}

.calculator-container {
  width: 550px;
  color: white;
  background-color: #2a2e33;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
  border-radius: 5px;
}

.btn-op {
  color: #c26208;
}

.btn-del {
  color: #bf060f;
}

@media screen and (max-width: 600px) {
  p {
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    margin: 10px;
  }
  .btn-large {
    width: 160px !important;
  }
}

@keyframes opencontainer {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}
